<% layout('layouts/boilerplate')%>
<div class="row mt-4">
    <div class="col-6 offset-3">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">
                Page Under Construction
                <i class="fas fa-hammer"></i>                
            </h4>
            <p>  It's on its way !</p>

        </div>
    </div>
</div>